body{
    background-image: url(../img/flag3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 40px;
}
h3{
    color: thistle;
}
p {
    font-style: italic;
    font-size: 20px;
}
h2{
    color:purple;
}
.zelly{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
}
.fa{
    color:lime;
}